[Unit]
Description=Gunicorn instance to serve <%= @project %>
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/var/www/<%= @project %>/backend
Environment="PATH=/var/www/<%= @project %>/backend/<%= @envname %>/bin"
ExecStart=/var/www/<%= @project %>/backend/<%= @envname %>/bin/gunicorn --workers 3 --bind unix:/tmp/<%= @project %>.sock --reload -m 007 wsgi:app
[Install]
WantedBy=multi-user.target
