#
server {
    listen 80;
    listen [::]:80;

    root /var/www/<%= @project %>/frontend/dist;
    index index.html index.htm;

    server_name <%= @host_url %>;

    location /api {
        include proxy_params;
        proxy_pass http://unix:/tmp/<%= @project %>.sock;
    }

    # Give missing stylesheets, images and etc 404
    location ~ \.(html|htm|css|js|wasm|txt|pdf|png|jpg|jpeg|svg|ico|gif|webm)$ {
        try_files $uri $uri/ =404;
        add_header Cache-Control no-cache;
    }

}
